@import url('https://fonts.googleapis.com/css?family=Montez&display=swap');

body {
    font-family: 'Montez', cursive;
    font-size:20px;
}
.link {
    color:red;
}
#borders {
    border:1px solid black;
}
.click{
    color:green;
}
.click_red{
    color:red;
}
img{
    height:150px;
    width:150px;
}
figcaption{
    font-family:'Times New Roman', Times, serif;
    font-size:15px;
}